/* Configurações Gerais */

body {
	padding-top: 50px;
    background-color: #F8F5F5;
}
footer {
    background-color: #333E49;
    color: #FFF;
    padding: 30px;
}

#bg_home {
	width:100%;
    height: 100%;
    background-image: url(../imgs/barro_preto_escuro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    color: #333;
    padding: 40px;
    min-height: 400px;
}


h1 {
	color: #FFF;
}

th {
    font-weight: bolder;
}



section {
    padding: 40px;
}

/*Configurações do menu nav-bar*/
.menu {
    background-color: #FFF;
    padding: 5px;
    -webkit-box-shadow: 2px 1px 1px 1px rgba(240,246,250,1);
    -moz-box-shadow: 2px 1px 1px 1px rgba(240,246,250,1);
    box-shadow: 2px 1px 1px 1px rgba(240,246,250,1);
}
.menu a{
    transition: all 0.4s ease-in;
}
.menu a:hover{
    font-weight: bolder;
    transition: all 0.4s ease-in;
}
#botao_menu {
    border: 1px solid black;
    -webkit-box-shadow: 2px 4px 5px 1px rgba(82,76,82,0.75);
    -moz-box-shadow: 2px 4px 5px 1px rgba(82,76,82,0.75);
    box-shadow: 2px 4px 5px 1px rgba(82,76,82,0.75);
}



/* Configurações do formulários de cadastro de empresa e candidato */
#form_cadastro_candidato {
	display: none;
}
#form_cadastro_empresa {
	display: none;
}



/* Section de boas vindas (Onde vai o nome do usuário logado) */
.boas_vindas_empresa {    
    background-color: #4B75B9;
    padding: 25px;
}

.boas_vindas_candidato {
    background-color: #059082;
    padding: 25px;
}



/*Formulário de cadastro de Vaga*/
.cadastra_vaga {
    background-color: rgba(198, 212, 225, 0.66);
}

.pesquisa_candidatos, .pesquisa_vagas{
    background-color: #FFFFFF;
}
.minhas_vagas_empresa{
    background-color: #EBE7E0;
}
.minhas_vagas_candidato{
    background-color: #E1F5C4;
}




#formulario_login, #formulario_cadastro {
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    color: #FFF;
}

.nav-tabs > li > a{
    border: 1px solid white;
    color: #FFF;
    cursor: default;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #000;    
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a:hover {
    background-color: gray;   
    border-bottom-color: transparent;
    cursor: default;
}

#formulario_login_heading, #formulario_cadastro_heading{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(0,0,0,0.3);
    color: #FFF;
}


.white_message,
.white_message a{
    color: #FFF;   
}

.white_message a{
    color: #E1F5C4; 
    border-bottom: 1px solid #E1F5C4;
}
.white_message a:hover{
    text-decoration: none;
    border-bottom: 2px solid #E1F5C4;
}

.valido{
    border: 3px solid #40E14D;
}
.invalido{
    border: 3px solid #EE7171;
}